:root {
  --background-tertiary: #202225;
}

.instruments {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
}

.myKeyboard {
  /* background-color: #2f3136; */
  display: flex;
  justify-content: center;
}

.users {
  /* background-color: #292b30; */
  width: 242px;
}
