:root {
  --background-tertiary: #202225;
}

.instruments {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
}
.instrument {
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  /* height: 50px; */
  /* width: 50px; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin: 5px;
}
.instrument:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.instrument:active {
  background-color: rgba(0, 0, 0, 0.13);
}
.instrumentActive {
  background-color: rgba(0, 0, 0, 0.15);
}
