:root {
  --background-tertiary: #202225;
}

.instruments {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
}

.myKeyboard {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  /* width: 500px; */
  height: 70vh;
}

.users {
  /* background-color: #292b30; */
  width: 250px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  /* padding: 0 1rem; */
  padding-left: 14px;
  padding-right: 14px;
  /* margin: 0 10px; */
}
