.cell {
  background-color: rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* margin: 3px; */
}
.cell:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
.cell:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.cells {
  display: flex;
}

.cellLabel {
  text-align: center;
  font-size: 12px;
  padding: 0 0 0.4rem;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcon {
  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
}
.socialIcon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.socialIcon:active {
  background-color: rgba(0, 0, 0, 0.13);
}

.instrument {
  /* font-size: 20px; */
  cursor: pointer;
  /* cursor: not-allowed; */
  /* border-radius: 8px; */
  padding: 0px 6px;
  /* height: 50px; */
  /* width: 50px; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  user-select: none;
  margin: 5px;
}
.instrument:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.instrument:active {
  background-color: rgba(0, 0, 0, 0.08);
}
.instrumentSelected {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.instrumentLoading {
  cursor: not-allowed;
  /* opacity: 0.6; */
}
.instrumentTitle {
  /* padding-left: 1rem; */
  font-size: 1.2rem;
}
.instrumentDescription {
  color: rgba(0, 0, 0, 0.5);
}
